.menu {
  background-color: $color-primary;
  padding: $spacing;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    gap: $spacing;
    list-style: none;
  }

  li a {
    color: $text-light;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: $color-secondary;
    }
  }
}
