$color1: black;
$color2: aqua;
$color3: white;
$color4: black;
$color5: lime;
$color6: black;
$color7: purple;
$color8: yellow;
$color9: darkred;

$font1: 1em;
$font2: 1.2em;
$font3: 1.4em;
$font4: 1.6em;
$font5: 1.8em;
$font6: 2em;
$font7: 2.2em;
$font8: 5em;
